.appclass{
    -fx-background-image: url('../Assets/AppBackground.png');
}
.scorePanel{
    -fx-background-color: rgba(255, 255, 255, 0.5);
}
.exitButton{
    -fx-background-image: url('../Assets/exit.png');
    -fx-background-size: 50 50;
}